.change-pass-main-section
{
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(var(--generic-bg-color-schedule-black), 0.6);
}

  .change-pass-box-container
  {
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
    background-color: var(--bg-color);
    border: 1px solid var(--generic-text-color-inactive);
  }

    .change-pass-text
    {
      width: 100%;
      height: 10%;
      color: var(--generic-text-color-inactive);
      font-size: 150%;
    }

    .old-pass-text
    {
      width: 100%;
      height: 10%;
      color: var(--generic-text-color-inactive);
      font-size: 130%;
    }

    .old-pass-input-container
    {
      margin-top: 2%;
      width: 100%;
      height: 10%;
    }

      .old-pass-input
      {
        background-color: transparent;
        border: 1px solid var(--generic-text-color-inactive);
        color: var(--generic-text-color-inactive);
        height: 100%;
        width: 90%;
        font-size: 200%;
      }
    
      input[type=number] {
        -webkit-text-security: disc;
      }

    .new-pass-text
    {
      width: 100%;
      height: 10%;
      color: var(--generic-text-color-inactive);
      font-size: 130%;
    }

    .new-pass-input-container
    {
      margin-top: 2%;
      width: 100%;
      height: 10%;
    }

  .ctrl-btns-container
  {
    width: 100%;
    height: 20%;
  }

    .save-btn
    {
      margin: auto;
      width: 40%;
      height: 50%;
    }

    .cancel-btn
    {
      margin: auto;
      width: 40%;
      height: 50%;
    }