.assistance-required
{
    border:1px solid var(--generic-border-color-active);
}

.btn-generic
{
    font-weight: bold;
    border: 2px var(--generic-border-color-inactive) solid;
    color: var(--generic-text-color-inactive);
}

.booking-btn
{
    border: 2px solid var(--generic-border-color-inactive);
    color: var(--generic-text-color-inactive);
    width: 40%;
    height: 55%;
}

.btn-generic-pressed
{
    color: var(--generic-text-color-active);
    background-color: var(--generic-border-color-active);
}

.floor-btn
{
    width: 80%;
    height: 13%;
}

.floor-btn-colab
{
    width: 80%;
    height: 13%;
}