@font-face {
    font-family: "Johnston ITC";
    src: url("../font/JohnstonITCPro-Light.otf") format('truetype');
}

*
{
    margin: 0;
    font-family: "Johnston ITC";
    font-weight: lighter;
}

:root
{
    /* VARIABLES CHANGED IN LIGHT MODE */
    --bg-color: black;
    --seperation-line-color: rgb(152, 252, 85);
    --generic-border-color-inactive: white;
    --generic-border-color-active: rgb(152, 252, 85);
    --generic-text-color-inactive: white;
    --generic-text-color-active: black;

    /* REST OF VARIABLES */
    --generic-border-color-grey: grey;

    --generic-text-color-schedule-green: rgb(128, 229, 128);
    --generic-text-color-schedule-grey: rgb(173, 173, 173);
    --generic-text-color-schedule-red: rgb(230, 50, 80);
    --generic-text-color-schedule-white: white;
    
    --generic-bg-color-schedule-white: 255,255,255;
    --generic-bg-color-schedule-black: 0,0,0;
}

body
{
    margin-left: auto;
    margin-right: auto;
    display: block;

    max-width: 100vw;
    max-height: 100vh;

    background-color: var(--bg-color);
}

.project-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    height: 19.5vh;
    border-bottom: 4px solid var(--seperation-line-color);
}

.project-body
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 75vh;
}