.portable-equipment-main-container
{
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

    .portable-equipment-device-text
    {
        display: flex;
        align-items: end;
        width: 100%;
        height: 15%;
        color: var(--generic-text-color-inactive);
        font-size: 150%;
    }

    .portable-equipment-container
    {
        flex-wrap: wrap;
        width: 100%;
        height: 60%;
    }

        .portable-equipment-box
        {
            width: 100%;
            height: 20%;
            border-bottom: 1px solid var(--generic-text-color-inactive);
        }

            .portable-equipment-text
            {
                display: flex;
                align-items: center;
                width: 70%;
                height: 100%;
                color: var(--generic-text-color-inactive);
                font-size: 150%;
            }

            .portable-equipment-assgn-room-btn
            {
                width: 25%;
                height: 70%;
                font-size: 120%;
            }

    .portable-equipment-break-btn-container
    {
        width: 100%;
        height: 25%;
    }

        .portable-equipment-break-btn
        {
            margin: auto;
            width: 50%;
            height: 50%;
            font-size: 150%;
        }